cluster:

netapp_hostname:
netapp_username:
netapp_password:

license_codes: YVUCRRRRYVHXCFABGAAAAAAAAAAA,WKQGSRRRYVHXCFABGAAAAAAAAAAA,SOHOURRRYVHXCFABGAAAAAAAAAAA,YBSOYRRRYVHXCFABGAAAAAAAAAAA,KQSRRRRRYVHXCFABGAAAAAAAAAAA,MBXNQRRRYVHXCFABGAAAAAAAAAAA,QDDSVRRRYVHXCFABGAAAAAAAAAAA,CYAHWRRRYVHXCFABGAAAAAAAAAAA,OSYVWRRRYVHXCFABGAAAAAAAAAAA,UZLKTRRRYVHXCFABGAAAAAAAAAAA,EJFDVRRRYVHXCFABGAAAAAAAAAAA
# Licenses for second node (HA)
# license_codes_2: MHEYKUNFXMSMUCEZFAAAAAAAAAAA,KWZBMUNFXMSMUCEZFAAAAAAAAAAA,GARJOUNFXMSMUCEZFAAAAAAAAAAA,MNBKSUNFXMSMUCEZFAAAAAAAAAAA,YBCNLUNFXMSMUCEZFAAAAAAAAAAA,ANGJKUNFXMSMUCEZFAAAAAAAAAAA,EPMNPUNFXMSMUCEZFAAAAAAAAAAA,QJKCQUNFXMSMUCEZFAAAAAAAAAAA,UFTUNUNFXMSMUCEZFAAAAAAAAAAA,CEIRQUNFXMSMUCEZFAAAAAAAAAAA,ILVFNUNFXMSMUCEZFAAAAAAAAAAA,SUOYOUNFXMSMUCEZFAAAAAAAAAAA

###
# Role Configuration varibles
###

# cluster_config role
# Note: nodename reflects the default naming convention of ONTAP. {{ cluster }}-{{ node_instance }} or cluster-01

disks: # disks module assigns all visiable disks to a node.
    - "{{ cluster }}-01"

#motd: "{{ motd_mess }}"

dns:        # Set DNS for Cluster
    - { dns_domains: "{{ dns_domain }}", dns_nameservers: "{{ dns_servers }}" }

ntp:        # Set NTP Server (requires the cluster to have DNS set)
    - { server_name: "{{ ntp_srvr }}", version: auto }

snmp:       # Setup or modify an SNMP community
    - { community_name: public, access_control: ro }

aggrs:      # Create one or more Aggregates.
    - { name: "{{ cluster }}_01_aggr1", node: "{{ cluster }}-01", disk_type: fcal, disk_count: 23, max_raid: 23 }
    - { name: "{{ cluster }}_01_aggr2", node: "{{ cluster }}-01", disk_type: ssd, disk_count: 13, max_raid: 23 }

ports:      # Set MTU for ports.
    - { node: "{{ cluster }}-01", port: e0a, mtu: 1500, flowcontrol: none }
    - { node: "{{ cluster }}-01", port: e0b, mtu: 1500, flowcontrol: none }
#  - { node: "{{ cluster }}-01", port: e0c, mtu: 1500 } # vsim MGMT LIF
    - { node: "{{ cluster }}-01", port: e0d, mtu: 1500, flowcontrol: none }
    - { node: "{{ cluster }}-01", port: e0e, mtu: 1500, flowcontrol: none }
    - { node: "{{ cluster }}-01", port: e0f, mtu: 1500, flowcontrol: none }

ifgrps:     # Create and add ports to Interface Groups.
    - { name: a0a, node: "{{ cluster }}-01", ports: "{{ ifgrp_ports }}", mode: multimode_lacp, mtu: 1500 }

vlans:      # Create vlans on LIFS
    - { id: "{{ vlan_id }}", node: "{{ cluster }}-01", parent: a0a }

bcasts:     # Create Broadcast domains
    - { name: Data, mtu: 1500, ipspace: default, ports: '{{ cluster }}-01:a0a,{{ cluster }}-01:a0a-201' }
    - { name: MGMT, mtu: 1500, ipspace: default, ports: '{{ cluster }}-01:e0d' }

inters:     # Create intercluster lifs for SnapMirror.
    - { name: "interclus_{{ cluster }}-01", address: "{{ inters_lif1 }}", netmask: "{{ inters_lif1_mask }}", node: "{{ cluster }}-01", port: e0c }
